<div class="intro-container">
    <div class="intro-title flex-grid">
        <div>Describe Your Adventure</div>
    </div>
    <div class="introduction">
        <div class="intro-button flex-grid">
            <div>Join</div>
        </div>
        <div class="intro-details-container flex-grid">
            <div class="intro-details">
                This place is made for people like You, who are searching for social talking about adventures and destinations. 
                Find friends and make your memories matter even if you travel alone.
            </div>
            <div class="intro-details">
                Share Your emotions with people and tell them about Your stories full with fun. You can laught together and share experience.
            </div>
        </div>
    </div>
</div>
