<div class="flex-grid row">
    <div class="flex-item popular-destinations-label">Most popular destinations this week</div>
    <img src="assets/images/paris.jpg" alt="Most popular destination" class="destination-image flex-item">
    <img src="assets/images/london.jpg" alt="Most popular destination" class="destination-image flex-item">
    <img src="assets/images/viena.jpg" alt="Most popular destination" class="destination-image flex-item">
    <div class="row city-name-container">
        <div class="flex-item">Paris</div>
        <div class="flex-item">London</div>
        <div class="flex-item">Viena</div>
    </div>
</div>
