.flex-grid {
    display: flex;

    &.column  {
        flex-direction: column;
        justify-content: space-between;
    }

    &.row {
        flex-direction: row;
        flex-wrap: wrap;
    }
}